<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bca4semnotes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".syll.coa_syll"></activity>
        <activity android:name=".syll.graphics_syll" />
        <activity android:name=".syll.os_syll" />
        <activity android:name=".syll.conam_syll" />
        <activity android:name=".syll.vb_syll" />
        <activity android:name=".splashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity_abt" />
        <activity
            android:name=".COA_activities.Unit1_COA"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".COA_activities.unit5_coa"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".COA_activities.unit4_coa"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".COA_activities.unit3_coa"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".COA_activities.unit2_coa"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".vb_activities.vbnet_Unit_5"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".vb_activities.vbnet_Unit_4"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".vb_activities.vbnet_Unit_3"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".vb_activities.vbnet_Unit_2"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".vb_activities.vbnet_Unit_1"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".OS_activities.os_unit_5"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".OS_activities.os_unit_4"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".OS_activities.os_unit_3"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".OS_activities.os_unit_2"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".OS_activities.os_unit_1"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".graphics_activities.graphics_unit_5"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".graphics_activities.graphics_unit_4"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".graphics_activities.graphics_unit_3"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".graphics_activities.graphics_unit_2"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".graphics_activities.graphics_unit_1"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".conam_activities.conam_Unit_5"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".conam_activities.conam_Unit_4"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".conam_activities.conam_Unit_3"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".conam_activities.conam_Unit_2"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".conam_activities.conam_Unit_1"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MainTheme">

        </activity>
    </application>

</manifest>